{% extends 'base.html.twig' %}

{% block title %}Mon compte - Les Petits Domaines{% endblock %}

{% block content %}

	<h1>Mon compte - Les Petits Domaines</h1>
	<h2>Bienvenue{{ app.user.firstname }}dans votre compte.</h2>

	<hr>

	<a href="{{ path('password') }}">-Modifier mot de passe</a><br />
	<a href="{{ path('address') }}">-Gérer mes adresses</a><br />
	<a href="{{ path('account_order') }}">-Gérer mes commandes</a><br />

	{% if is_granted('ROLE_ADMIN') %}
		<a href="/admin">-Vous êtes un administrateur, accéder au backOffice</a>
	{% endif %}

{% endblock %}
