{% extends 'base.html.twig' %}

{% block title %}Mon compte Les Petits Domaines{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    <p>bienvenue {{ app.user.firstname }} dans votre compte.</p>
    {# {{ dump(app.user.firstename) }} #}
    <hr>
    <a href="{{ path('app_account_password') }}" >-Modifier mot de passe</a><br/>
    <a href="{{ path('app_account_address') }}" >-Gérer mes adresses</a><br/>

{% endblock %}
