{% extends 'base.html.twig' %}

{% block title %}Mon compte - Mes commandes - Les Petits Domaines{% endblock %}

{% block content %}

    <h1>Mes commandes</h1>
    <p>C'est dans cette espace que vous pouvez gérez vos commandes</p>
    <a href="{{ path('account')}}">Retour</a>
    {# {{ dump(app.user) }} #}

    {% if app.user.orders|length == 0 %}

        <p class="text-center">
        Vous n'avez pas encore passé de commandes  
        </p>

    {% else %}


       

            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                         {% for order in  app.user.orders %}

                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>

            {{ dump(order) }}

                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>


       

    {% endif %}

{% endblock %}
