{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Les Petits Domaines{% endblock %}

{% block content %}

	<h1>Connexion à mon compte - Les Petits Domaines</h1>
	<div class="block-small">
		{% for message in app.flashes('notice') %}
			<div class="alert alert-info">{{ message }}</div>
		{% endfor %}
		<form method="post">
			<h2 class="h3 mb-3 font-weight-normal">Réinitialiser mon mots de passe</h2>
			<label for="inputEmail">Courriel</label>
            <input type="email" value="" name="email" id="inputEmail" placeholder='Saisissez votre email' class="form-control" autocomplete="email" required autofocus>
			
			<button class="btn btn-lg btn-info btn-block mt-3" type="submit">Valider</button>

			<hr>

			<p class="text-center">Ou souhaitez-vous créer un<a href="{{ path('login')}}">Vous connecter</a></p>
		</form>
	</div>

{% endblock %}
