{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Les Petits Domaines{% endblock %}

{% block content %}

	<h1>Connexion à mon compte - Les Petits Domaines</h1>
	<div class="block-small">
		
		{{ form(formResetPassword) }}

	</div>

{% endblock %}
