{% extends 'base.html.twig' %}

{% block title %}Page introuvable - Les Petits Domaines{% endblock %}

{% block content %}

    <div>
        <h2>Page introuvable</h2>
        <p>Désolé, cette page ne semble pas être accessible pour le moment.</p>
        <a href="{{ path('home') }}" class="btn btn-info">Revenir à l'accueil</a>
    </div>

{% endblock %}
